html {
height:100vh;
}

body{
 height:auto;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
padding:10em;
background-image: url(../Sunset.jpg) ;
background-size: cover;
background-position: center;
}

#pf-tessaviergever {
    opacity: 0.9;
    content: center;
    max-width: 100%;
    height: auto;
    margin: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.6);
   

}

h1 {
font-size:1.5em;
color: rgb(225, 238, 249);
text-shadow: 2px 2px #ff9900, 2px 5px #e2516e;
background-color: rgb(106, 158, 180);
opacity: 0.9;
box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.6);
text-align: center;
margin: center;
padding-top: 40px;
padding-bottom: 50px;
border-radius: 45%;
}


article {
background-color:bisque;
box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.6);
}

#article-overmij {
background: blue;
box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.6);
}

footer {
padding:15px;
font-family:Arial, Helvetica, sans-serif;
font-size:small;
font-style:italic;
background-color:rgba(246, 156, 21, 0.542);
margin-top: 6px;
}