html {
height:120vh;
  }

body {
  max-width: 500px;
  margin:auto;
  height:auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../sunset-background.jpg");
  background-size: cover;
  background-position: center;
  }

  
  
  /* grid voor 🙋‍♀️❤️🧩🔮 */


 .grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap: 10px;
  
  }

  .grid-item {
    background-color: #e29951;
    opacity: 0.9;
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.6);
    margin: 5px;
    text-align: center;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    border-radius: 30px;
  }

  .grid-item-titel {
    grid-column: span 3;
    background-color:  #e2516e;
    opacity: 0.9;
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.6);
    margin: 5px;
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 35px;
  }

  ul li::marker { color: rgb(106, 158, 180);font-size: 0,2em;}

  ul {display: inline-block; text-align: left;}

/* styling profielfoto */
#pf-tessaviergever {
    opacity: 0.9;
    content: center;
    max-width: 500px;
    height: auto;
    margin: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.6);
}


/* styling pagina titel (Tessa Viergever)*/
h1 {
  font-size:1.2em;
  color: rgb(225, 238, 249);
  text-shadow: 2px 2px #ff9900, 2px 5px #e2516e;
  background-color: rgb(106, 158, 180);
  opacity: 0.9;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 35px;
}



/*evt socials plaatsen
footer {
padding:15px;
font-family:Arial, Helvetica, sans-serif;
font-size:small;
font-style:italic;
background-color:rgba(246, 156, 21, 0.542);
margin-top: 6px;
}
*/